# See http://help.github.com/ignore-files/ for more about ignoring files.

/frontend/.angular
/backend/.env

/backend/src/data/

/node_modules

# Compiled output
/frontend/dist
/frontend/tmp
/frontend/out-tsc
/frontend/bazel-out

# Playground
/playground

#shared

# Node
/frontend/node_modules
/backend/node_modules
npm-debug.log
yarn-error.log
