:host {
  width: 100px;
  margin: 1px;
  height: calc(100px*1.1547);
  display: inline-block;
  font-size: initial;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  margin-bottom: calc(1px - 100px*0.2885);
  display: inline-flex;
  justify-content: center;
  overflow: hidden;
  align-items: center;
}

.tile {
  background: white;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;

  &--disabled {
    opacity: 0;
  }

  &--active {
    background: red;
  }
  &--hover {
    background: green;
  }
}