:host {
    position: absolute;
    top: 0;
    left: 0;
    height: 576px;
    width: 1268px;
    z-index: 2;
    pointer-events: none;
}

.overlay {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    left: 100px;
    top: 20px;
    width: calc(100% - 200px);
    gap: 10px;
}
.overlay__button {
    pointer-events: all;
    border-radius: 50%;
    background-color: #3498db;
    color: white;
    font-size: 42px;
    height: 54px;
    width: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
}