:host {
  font-size: 0;
  /*disable white space between inline block element */
}

:host::before {
  content: "";
  width: calc(100px/2 + 1px);
  float: left;
  height: 120%; 
  shape-outside: repeating-linear-gradient(#0000 0 calc((1.732 * 100px + 4 * 1px - 1px) - 3px),
      #000 0 calc(1.732 * 100px + 4 * 1px - 1px));
}