
.game-wrapper {
    position: relative;
    height: 576px;
    width: 1268px;
  }
  
  .border {
    position: absolute;
    top: 0;
    lefT: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    pointer-events: none;
  }
  
  #game-window {
    position: absolute;
    top: 0;
    left: 0;
    margin: 25px;
    height: 526px;
    width: 1218px;
    border-radius: 50px;
    overflow: hidden;
  }