{
    "root": true,
    "parser": "vue-eslint-parser",
    "parserOptions": {
        "parser": "@typescript-eslint/parser"
    },
    "extends": ["plugin:vue/strongly-recommended", "eslint:recommended", "@vue/typescript/recommended", "prettier"],
    "plugins": ["@typescript-eslint", "prettier"],
    "rules": {
        "semi": "off",
        "no-empty-pattern": "off",
        "prettier/prettier": ["error", { "semi": true, "printWidth": 120 }],
        "vue/no-multiple-template-root": "off",
        "vue/require-default-prop": "off",
        "vue/multi-word-component-names": "off",
        "linebreak-style": 0
    }
}
