/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  padding: 0;
  Background-color: #34495e;
  displaY: flex;
  justify-content: center;
  align-items: center;
}


.center {
  min-height: 100%;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

.material-symbols-sharp {
  font-variation-settings:
    'FILL' 0,
    'wght' 100,
    'GRAD' -25,
    'opsz' 24
}

.main {
  display: flex;
  --s: 100px;
  /* size  */
  --m: 1px;
  /* margin */
  --f: calc(1.732 * var(--s) + 4 * var(--m) - 1px);
}


.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 100,
    'GRAD' 200,
    'opsz' 20
}

.c-icon {
  font-size: inherit !important;
}